<div class="view text-center">

  <section1 class="section1">
    <h1>About <b>Secret Travel Spots</b></h1>
    <p>Secret Travel Spots is a community in which you can explore and share local hidden gems around the world. In
      here, you’ll be able to see for free spots added by those travellers who joined the community, and add your own.
    </p>
    <p>Behind the app, there is a community of people who share a passion for travelling and who understand that to
      truly take the most out of travelling, you have to get of the beaten track.</p>
  </section1>

  <div class="section2">
  </div>

  <section3 class="section3">
    <div>
      <h2>How does it work?</h2>
    </div>

    <section3-1 class="section-about">
      <div>
        <h3>Explore all spots</h3>
        <img class="rounded mx-auto d-block about-img" src="../images/map.png">
        <p>Explore Secret Travel Spots on the map, and search them by category.</p>
      </div>
      <div>
        <h3>Contribute to the community</h3>
        <img class="rounded mx-auto d-block about-img" src="../images/community.png">
        <p>Add your own local hidden gems, and leave your reviews on the places you’ve been too.</p>
      </div>
      <div>
        <h3>Travel like a local</h3>
        <img class="rounded mx-auto d-block about-img" src="../images/world.png">
        <p>Add your chosen spots to your favourites collection and make your next trips unforgetable.</p>
      </div>
    </section3-1>
  </section3>
  <p><a href="/explore" class="btn btn-primary">Explore</a>
    <br>
    <br>
</div>