<div class="view p-3 p-md-5 m-md-3 text-center">

  <section1 class="section1">
    <h1>About <b>Secret Travel Spots</b></h1>
    <p>Secret Travel Spots is a community of people who shares a passion for traveling and believes that you need to
      get off the beaten track to make the most out of it. In the app you can explore local hidden gems
      around the world, save your favourite spots and share your own.
    </p>
    <p>The idea behind Secret Travel Spots was born from two young women who know that the true magic of traveling lives
      in the experiences that make you step out of your comfort zone and grow.</p>
  </section1>

  <div class="section2">
  </div>

  <section3 class="section3">
    <div>
      <h2>How does it work?</h2>
    </div>

    <section3-1 class="section-about">
      <div>
        <img class="rounded mx-auto d-block about-img" src="../images/map.png">
        <h4>Explore all spots</h4>
        <p>Explore Secret Travel Spots on the map, and search them by category.</p>
      </div>
      <div>
        <img class="rounded mx-auto d-block about-img" src="../images/community.png">
        <h4>Contribute to the community</h4>
        <p>Add your own local hidden gems, and leave your reviews on the places you’ve been to.</p>
      </div>
      <div>
        <img class="rounded mx-auto d-block about-img" src="../images/world.png">
        <h4>Travel like a local</h4>
        <p>Add your chosen spots to your favourites collection and make your next trips unforgetable.</p>
      </div>
    </section3-1>
  </section3>
  <p><a href="/explore" class="btn btn-primary">Explore</a>
    <br>
    <br>
</div>