<div class="view text-center p-3 p-md-5 m-md-3">
  <h1>404 Error</h1>
  <h5>This route does not exist on the app! Check if everything is ok!</h2>
    <br>
    <p>Here's a cat instead</p>
    <br>
    <img class="rounded mx-auto d-block image-square" src="../images/brokencat.gif">
</div>