{{!-- {{#if user}} --}}

<h2>Add a new spot</h2>
<form action="/user-profile/create-spot" method="post">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" />

  <label for="description-input">Description:</label>
  <input type="text" name="description" id="description-input" />

  <label for="location-input">Location:</label>
  <input type="text" name="location" id="location-input" />

  <label for="category-input">Category:</label>
  <select id="category-input" name="category">
    <option value="To eat">To eat</option>
    <option value="To walk">To walk</option>
    <option value="To bike">To bike</option>
    <option value="To hike">To hike</option>
    <option value="To visit">To visit</option>
    <option value="For sunset">For sunset</option>
  </select>

  <button type="submit">Submit</button>

</form>
{{!-- 
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}} --}}