{{!-- {{#if user}} --}}

<h2>Add a new spot</h2>
<form action="/user-profile/create-spot" method="post" enctype="multipart/form-data">
  <div>
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" class="form-control" />
  </div>
  <div>
    <label for="description-input">Description:</label>
    <textarea name="description" id="description-input" cols="30" rows="5" class="form-control"></textarea>
  </div>
  <div>
    <label for="location-input">Location:</label>
    <input type="text" name="location" id="location-input" class="form-control" />
  </div>
  <div>
    <label for="category-input">Category:</label>
    <select id="category-input" name="category">
      <option value="To visit">Beach</option>
      <option value="For sunset">For sunrise</option>
      <option value="For sunset">For sunset</option>
      <option value="To bike">To bike</option>
      <option value="To eat">To eat</option>
      <option value="To hike">To hike</option>
      <option value="To hike">To relax</option>
      <option value="To walk">To walk</option>
      <option value="To visit">To visit</option>
    </select>
    <div class="form-group">
      <label for="image-input">Image:</label>
      <input type="file" name="image" id="image-input" class="form-control-file" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div>
    <a href="/user-profile" class="btn btn-secondary">Back</a>
  </div>

</form>
{{!-- 
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}} --}}