<div class="view text-center p-3 p-md-5 m-md-3">

  <div class="links text-right">
    <a href="/user-profile"><svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left"
        fill="rgb(44, 172, 110)" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg></a>
  </div>

  <h2>Edit here your details</h2>
  <br>
  <p>Please notice you can change your username and email.</p>

  <form class="form-signin mx-auto" style="width: 300px;" action="/user-profile/edit-profile" method="post">

    <label for="username-input"></label>
    <input type="text" name="username" class="form-control" id="username-input" value="{{user.username}}" />
    <label for="email-input"></label>
    <input type="text" name="email" class="form-control" id="email-input" value="{{user.email}}" />
    <br>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>

  </form>


  {{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>