<h2>Edit here your details</h2>
<form action="'/user-profile/edit-profile" method="post">

  <label for="username-input">Username:</label>
  <input type="text" name="username" id="username-input" value="{{username}}"/>

  <label for="email-input">email:</label>
  <input type="text" name="email" id="email-input" value="{{email}}"/>

  <label for="password">password:</label>
  <input type="text" name="password" id="password-input" value="{{password}}"/>

  <button type="submit">Update</button>

</form>