{{#if user}}
<section class="container-fluid" id='main-container'>
  <h2>Welcome, {{ user.username }}!</h2>
  <p>This is your profile page my friend!</p>
  <div class="row-12 justify-content-center">
    <span><a href="/user-profile/create-spot" class="btn btn-primary col-5 m-2 align-self-center">New Spot</a></span>
  </div>

  <div class="row-12 justify-content-center">
    <span><a href="/user-profile/user-spots" class="btn btn-primary col-5 m-2 align-self-center">My Spots</a></span>
  </div>

  <div class="row-12 justify-content-center">
    <span><a href="/user-profile/user-favourites"
        class="btn btn-primary col-5 m-2 align-self-center">Favourites</a></span>
  </div>

  <div class="row-12 justify-content-center">
    <span><a href="/user-profile/edit-profile" class="btn btn-primary col-5 m-2 align-self-center">Edit
        Profile</a></span>
  </div>

  <div class="row-12 justify-content-center">
    <span><button class="btn btn-primary col-5 m-2 align-self-center" id='delete-profile'>Delete my Profile</button>
    </span>
  </div>
</section>




{{!-- <a href="/user-profile/edit-profile" class="btn btn-primary">Edit profile</a>
<form action="/user-profile/{{user._id}}/edit-profile/delete" method="post">
  <button type="submit">Delete</button>
</form> --}}


{{else}}
<p>Still no logged in user, sorry!</p>
<a href="/">Login</a>
{{/if}}