{{#if user}}
<h2>Welcome, {{ user.username }}!</h2>
<p>This is your profile page my friend!</p>
<button>
  <a href="/user-profile">Reload the page</a>
</button>

<span><a href="/user-profile/create-spot" class="btn btn-primary">New Spot</a></span>
<span><a href="/user-profile/user-spots" class="btn btn-primary">My Spots</a></span>
<span><a href="" class="btn btn-primary">Favourites</a></span>

<a href="/user-profile/edit-profile" class="btn btn-primary">Edit profile</a>
<form action="/user-profile/{{user._id}}/edit-profile/delete" method="post">
  <button onclick="confirmation()" id="delete-profile" type="submit">Delete profile</button>
</form>

{{else}}
<p>Still no logged in user, sorry!</p>
<a href="/">Login</a>
{{/if}}