body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#navbar-logo {
  width: 20px;
}

#navbar {
  background: #2cac6e;
}

#logout-bt {
  color: white;
}
