@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,623;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,623;1,700;1,800;1,900&display=swap");

body {
  padding: 10px;
  font: 14px "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "Rubik", sans-serif;
}

h4 {
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: black;
}

#navbar-logo {
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#navbar {
  background: #2cac6e;
}

#logout-bt {
  color: white;
}

.btn-primary {
  color: white;
  background: #2cac6e;
  border: none;
}

.btn-primary:hover {
  color: white;
  background: rgb(44, 172, 110, 0.7);
  border: none;
}

#logout-bt {
  border: none;
  background: none;
}

.home-div {
  color: white;
  background-image: url("../images/jakob-owens-MctEgCk1Dm0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  margin-bottom: 4%;
}

.home-btns > p > a {
  width: 10rem;
}

.image-square {
  height: 80%;
  width: 80%;
  max-height: 650px;
  max-width: 650px;
  margin-bottom: 2%;
}

.carousel-control-prev-icon {
  background-image: url("../images/arrow-prev.png");
}

.carousel-control-next-icon {
  background-image: url("../images/arrow-next.png");
}

.cat-details {
  height: 80%;
  max-height: 650px;
  max-width: 650px;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.comment-content {
  margin: auto;
  display: flex;
  justify-self: center;
}

.comment-div {
  margin: 2%;
}

.descrip-cont {
  height: 80%;
  max-width: 650px;
  margin: auto;
  width: 80%;
  padding: 30px 0px;
  text-align: left;
}

.spots-cont {
  margin: 5%;
}

.card-body {
  margin: 2%;
}
