@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,623;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,623;1,700;1,800;1,900&display=swap");

body {
  padding: 10px;
  font: 14px "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#navbar-logo {
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#navbar {
  background: #2cac6e;
}

#logout-bt {
  color: white;
}

.btn-primary {
  color: white;
  background: #2cac6e;
  border: none;
}

.btn-primary:hover {
  color: white;
  background: rgb(44, 172, 110, 0.7);
  border: none;
}

#logout-bt {
  border: none;
  background: none;
}

.image-square {
  height: 80%;
  width: 80%;
  max-height: 650px;
  max-width: 650px;
  margin-bottom: 2%;
}

.carousel-control-prev-icon {
  background-image: url("../images/arrow-prev.png");
}

.carousel-control-next-icon {
  background-image: url("../images/arrow-next.png");
}
